.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 320px;
    height: 320px;
    border: 1px solid #000;
}

.square {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.white {
    background-color: #EDEDED;
}

.black {
    background-color: #333;
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.dragging {
    opacity: 0.5;
}

.selected {
    border: 2px solid #FFD700; /* colore oro per evidenziare */
}

.possible-move {
    background-color: rgba(255, 215, 0, 0.4); /* semi-trasparente oro */
}
